@using photoStarter.ServiceLayer

@{
    const string flickrUserId = "95501702@N06";
    var photoCollection = FlickrBLL.GetPublicUserPhotos(flickrUserId);
}

<div class="span3"></div>
<div class="span9">
    
    @foreach (var photo in photoCollection) {
        <a target="_new" href="@photo.LargeUrl"><img src="@photo.ThumbnailUrl" alt="Thumbnail" /></a>
    }

</div>

